#tableOfContents {
	max-height: 500px;
	overflow-y: auto;
	padding-bottom: 6px; /* to prevent scrollbar from appearing */
}
#tableOfContents .tocRow {
	position: relative;
}

#tableOfContents .tocRow a {
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 19px 80px 19px 10px;;
	color: #494c4e;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	display: block;
}

#tableOfContents .tocRow a:hover {
	background: #e8f2f9;
	border: 2px solid #e8f2f9;
	text-decoration: none;
	color: #494c4e;
}

#tableOfContents .tocRow a:focus, #tableOfContents .tocRow a:active {
	border: 2px solid #006fbf;
	outline: 0;
}

#tableOfContents .ldBar {
	display: block;
	
	width: 60px!important;
	height: 60px!important;
	position: absolute;
	top: 7px;
	right: 10px;
}

#tableOfContents .tocRow:first-child .ldBar {
	top: 3px;
}

#tableOfContents .ldBar-label {
	font-size: 12px;
}

#tableOfContents .tocRow:before {
	content:'';
	border-bottom: 1px solid #e3e9f1;
	margin: 5px 0;
	display: block;
}
#tableOfContents .tocRow:first-child:before {
	display: none;
}

#tableOfContents .ldBar path.mainline {
	stroke-linecap: round;
}

#tableOfContents .ldBar.empty path.mainline {
	display: none;
}
